:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --main-black: #1f1f1f;
  --main-orange: #ff7f50;
}

/* Common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

/* Navbar */
.nav {
  display: flex;
  justify-content: flex-end;
  background-color: var(--main-red);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  font-size: 2.2rem;
  color: var(--main-white);
  display: block;
  padding: 1rem 2rem;
}

.nav-list a:hover {
  background-color: var(--main-blue);
}

/* Welcome Section */
.welcome-section {
  background-image: linear-gradient(
    60deg,
    var(--main-gray) 0%,
    var(--main-black) 100%
  );
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-section h1 {
  color: var(--main-white);
  font-size: 5rem;
}

.welcome-section p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--main-red);
}

/* Projects Section */
.projects-section {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 6rem;
}

.projects-section-header {
  color: var(--main-white);
  max-width: 640px;
  margin: 0 auto 6rem auto;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 4rem;
  width: 100%;
  margin: 0 auto;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: var(--main-orange);
}

.project-tile {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  text-align: center;
}

/* Contact Section */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--main-gray);
  color: var(--main-white);
}

.contact-section-header > h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

.contact-section p {
  font-size: 1.8rem;
  font-weight: 200;
  font-style: italic;
}
